/* start variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 115 143 / 70%);
    --main-padding: 100px;
}
/* end variables */
/* start global rules */
*{
    --wepkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* small media */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium media */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large media */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */
/* start components */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    position: relative;
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 120px;
    bottom: -30px;
    background-color: #333;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
    z-index: 1;
}
.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
/* end components */
/* start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px ;
}
header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    background-color: #726f71;
    width: calc(100% - 30px);
    left: 15px;
}
header .container img {
    height: 40px;
}
header .container  nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav .toggle-menu {
    color: white;
    font-size: 22px;
}
@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
header nav ul {
    display: flex;
}
@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0, 0, 0 / 50%) ;  
    }
    header nav .toggle-menu + ul li a {
        padding: 15px;
    }

}
header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}
header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form {
    width: 40px;
    height: 30px;
    margin-left: 30px;
    position: relative;
    border-left: 1px solid white;
}
header nav .form i {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 50%; 
    transform: translateY(-50%);
    right: 0;
}
/* end header */
/* start landing */
.landing {
    min-height: 100vh;
    background-color: #19c8fa;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60% );
}
.landing .text {
    position: absolute;
    padding: 50px;
    width: 50%;
    top: 40%;
    left: 0;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}
@media(max-width: 767px) {
    .landing .text {
        width: 100%;
    } 
    .landing .text .content {
        width: 100%;
    }
}
.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2;    
}
.landing .change-background {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    color: #8eb9c7;

}
@media(max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}
.landing .fa-angle-right {
    right: 10px;
}
.landing .fa-angle-left {
    left: 10px;
}
.landing .bullets {
    position: absolute;
    bottom: 10px;
    left: 47%;
    transform: translateY(-50%);
    display: flex;
}
@media (max-width: 767px ) {
    .landing .bullets {
        left: 42%;
    }
}

.landing .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing */
/* start services */
.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
@media (min-width: 767px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}
.services .srv-box {
    display: flex;
}
.services .srv-box i {
    margin-right: 50px;
    font-size: 40px;
}
@media (max-width: 767px) {
    .services .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .srv-box i {
        margin: 0 0 30px;
    }
}
.services .srv-box h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .srv-box p {
    line-height: 2;
    color: hsl(0, 0%, 47%);
}
/* end services */
/* start design */
.design {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    height: 600px;
    position: relative;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60% );
}
.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image {
    text-align: center;
}
@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}
.design .image img {
    position: relative;
    bottom: -150px;
}
.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);

}
.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design .text ul li {
    padding: 15px 0;
}
.design .text ul li::before{
    font-family: 'Font Awesome 5 Free';
    content: "\f108";
    font-weight: 900;
    position: relative;
    top: 1px;
    left: -20px;
}
/* end design */
/* start Portfolio */
.Portfolio {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.Portfolio .shuffle {
    display: flex;
    justify-content: center;
}
.Portfolio .shuffle li {
    padding: 10px;
}
.Portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}
.Portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.Portfolio .imgs-container .box {
    position: relative;   
    overflow: hidden;
}
.Portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}
.Portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
    .Portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .Portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}
.Portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.6s;
}
.Portfolio .imgs-container .box .caption {
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.5s;
    bottom: -100%;
    padding: 20px;
    background-color: white;
}
.Portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.Portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}
.Portfolio a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    width: 60px;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/* end Portfolio */
/* start video */
.video {
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60% );
}
.video video {
    width: 100%;
}
.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}
.video .text h2 {
    font-weight: normal;
    padding-bottom: 30px;
}
.video .text p {
    padding-bottom: 20px;
}
.video .text button {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    margin-bottom: 50px;
    padding: 10px 0;

}
/* end video */
/* start about */
.about {
    padding-top: var(--main-padding);
    overflow: hidden;
    text-align: center;
}
.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
@media (max-width: 767px) {
    .about img {
        position: relative;
        bottom: -60px;
        margin-top: -60px;
        
    }
}
/* end about */
/* start stats */
.stats {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
}
.stats::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 70% );
}
.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
    text-align: center;
    z-index: 2;
}
@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}
.stats .container .box h2 {
    font-weight: bold;
    font-size: 40px;
    /* text-align: center; */
}
.stats .container .box p {
    padding-top: 10px;
    font-size: 14px;
    /* text-align: center; */
}
/* end stats */
/* start skills */
.our-skills {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}
.our-skills .container > div > h3 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.our-skills .container > div > p {
   color: #777; 
   line-height: 2;
   margin-bottom: 60px;
   text-align: center;
}

.our-skills .container .testimonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .container .testimonials .content img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media (max-width: 767px) {
    .our-skills .container .testimonials .content {
        flex-direction: column;
        text-align: center;
    }
    .our-skills .container .testimonials .content img {
        margin: 0 auto 20px;
    }
}
.our-skills  .testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.our-skills .container .testimonials .content p {
    color: #777;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.our-skills .testimonials .bullets li {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 1px solid #aaa;
    margin-right: 10px ;
}
.our-skills .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
    font-weight: normal;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}
.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    right: -18px;
    top: -40px;
    background-color: black;
    color: white;
    padding: 5px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
}
/* end skills */
/* start quote */
.quote {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-image: url(../images/quote.jpg);
    background-size: cover;
    text-align: center;
    color: white;  
}
.quote::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 75% );
}
.quote .container {
    position: relative;
    z-index: 2;
}
.quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
/* end quote */
/* start pricing */
.pricing {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.pricing .plans .plan {
    text-align: center;
    background-color: #fcfcfc;
}
.pricing .plans .plan .header {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan h3 {
    font-weight: normal;
    margin-bottom: 20px;
}
.pricing .plans .plan span {
    font-size: 50px;
    font-weight: bold;

}
.pricing .plans .plan span::before {
    content: "$";
    position: relative;
    font-size: 25px;
    top: -40px;
    right: 15px;
}
.pricing .plans .plan span::after{
    content: "/Mo";
    position: relative;
    font-size: 20px;
    top: 0;
    right: -15px;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    position: absolute;
}
.pricing .plans .plan .footer a {
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    display: block;
    margin: 30px auto;
    padding: 20px 20px;
}
.pricing .contact-text {
    margin: 50px auto 20px;
    text-align: center;
    font-size: 20px;
}
.pricing .contact-link {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px 30px;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    width: fit-content;
}
/* end pricing */
/* start subscribe */
.subscribe {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    color: white;
}
.subscribe::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
}
@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
}
.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    font-size: 20px;
    
}
.subscribe form input[type="emaill"] {
    background: none;
    border: 1px solid white;
    border-right: none;
    padding: 20px 20px 20px 60px;
    width: calc(100% - 130px);

}
.subscribe form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    border: 1px solid white;
    border-left: none;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
}
.subscribe form input[type="emaill"]:focus,
.subscribe form input[type="emaill"]:focus {
    outline: none;
}
.subscribe form ::placeholder {
    color: white;
}
.subscribe p {
    line-height: 2;
    margin-left: 50px;
}
@media (max-width: 991px) {
    .subscribe p {
        margin: 30px 0 0;
    }
}
.contact {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.contact .content {
    display: flex;
    justify-content: space-between;
}
@media ( max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}
.contact .content form {
    flex-basis: 70%;
}
.contact .content form .main-input {
    display: block;
    padding: 20px;
    margin-bottom: 40px;
    width: 100%;
    border: 1px solid #ccc;
}
.contact .content form .main-input:focus {
    outline: none;
} 
.contact .content form textarea.main-input {
    height: 200px;
}
.contact .content form input[type="submit"] {
    background-color: var(--main-color);
    border: none;
    padding: 20px;
    display: flex;
    margin-left: auto;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
}
.contact .content form input[type="submit"]:hover {
    background-color: rgb(255 255 255 );
    box-shadow: 5px 5px 10px 0 #ddd;
}
.contact .content .info {
    flex-basis: 25%;
} 
@media (max-width: 767px) {
    .contact .content .info {
        order: -1;
        margin: 0 0 10px 0;
        text-align: center;
    }
}
/* @media (max-width: 767px) {
    .contact .content .info .info-one,
    .contact .content .info .info-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    }
} */
.contact .content .info h4 {
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 18px;
}
.contact .content .info .phone {
    color: #777;
    display: block;
    margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}
.contact .content .info address {
    line-height: 2;
}
.foot {
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
    width: 100%;
    padding-top: calc( var(--main-padding) / 2 );
    padding-bottom: calc( var(--main-padding) / 2 );
    text-align: center;
}
.foot::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
}
.foot .container {
    position: relative;
    z-index: 1;
}
.foot img {
    width: 140px;
    margin-bottom: 20px;
}
.foot .container p:not(.copyright) {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    width: fit-content;
    margin: 20px auto;
    font-size: 22px;
}
.foot .container .social-icons i {
    padding: 10px 15px;
}
.foot .container .copyright {
    margin-top: 60px;
}
.foot .container .copyright span {
    color: var(--main-color);
    font-weight: bold;
}
/* end subscribe */